<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
	<bean id="cityDao" class="yougou.fssj.dao.CityDaoImpl">
        <property name="template" ref="sqlMapClientTemplate"></property>
	</bean>
    <bean id="cityService" class="yougou.fssj.service.CityServiceImpl">
        <property name="cityDao" ref="cityDao"/>
    </bean>
    <bean id="CityAction" class="yougou.fssj.web.CityAction" scope="prototype">
        <property name="cityService" ref="cityService"/>
    </bean>
    <bean name="CityEditAction" class="yougou.fssj.web.CityEditAction" scope="prototype">
        <property name="cityService" ref="cityService"/>
    </bean>
</beans>